name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '8 8 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
    - name: Fetch latest data
      run: |-
        curl 'https://api.backend.octopus.energy/v1/graphql/' -X POST -H 'Content-Type: application/json' --data-raw '{"query":"{ greenerNightsForecast { date greennessScore isGreenerNight greennessIndex } }"}' | jq . > greener-nights-history.json
    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
